:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* card style */
.neon-effect-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  z-index: 10;
  width: 500px;
  max-width: 90%;
  background-color: rgba(45, 45, 45, 0.8);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: radial-gradient(
    600px at var(--mouse-x) var(--mouse-y),
    rgba(29, 78, 216, 0.15),
    transparent 80%);
  pointer-events: none;
  z-index: 5;
  transition: background 0.2s ease-out;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  background-color: #3b3f46;
  margin: 20px 0px;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 0.3);
}

.time-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-value {
  font-size: 2.8em;
  font-weight: 700;
  color: #61dafb;
  font-variant-numeric: tabular-nums;
  transition: transform 0.5s ease-out;
}

/* Spin Animation */
.time-value[key]:not(:empty) {
  animation: spin 0.5s ease-out;
}

@keyframes spin {
    from {
        transform: rotateX(90deg);
        opacity: 0;
    }
    to {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

.time-label {
  font-size: 1rem;
  text-transform: uppercase;
  color: #ccc;
  margin-top: -10px;
}

.separator {
  font-size: 5rem;
}

/* button group */
.button-group {
  display: flex;
  gap: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
